<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射接口所在包路径-->
<mapper namespace="com.dao.ArticleDao">
    <insert id="addArticle" parameterType="com.domain.Article">
        insert into article(article_id, user_id, ariticle_title, content, scan_count, likes_count, reply_count)
        values (#{articleId}, #{userId}, #{ariticleTitle}, #{content} #{scanCount}, #{likesCount}, #{replyCount});
    </insert>

    <select id="getArticles" resultType="com.domain.Article">
        select *
        from article;
    </select>

    <select id="getArticlesByOwner" resultType="com.domain.Article">
        select *
        from article
        where user_id = #{userId};
    </select>

    <select id="queryArticles" resultType="com.domain.Article">
        select *
        from article
        where like #{title}
           or owner like #{owner};
    </select>

    <delete id="deleteArticleById">
        delete
        from article
        where article_id = #{id};
    </delete>

    <update id="upDateArticleById">
        update article
        set ariticle_title=#{ariticleTitle},
            content=#{content},
            likes_num=#{likesNum},
            scan_num=#{scanNum},
            reply_id=#{replyId}
        where article_id = #{articleId}
    </update>
</mapper>
