<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射接口所在包路径-->
<mapper namespace="com.dao.ArticleDao">
    <resultMap id="Article" type="com.domain.Article">
        <id column="article_id" property="articleId"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="scan_count" property="scanCount"/>
        <result column="likes_count" property="likesCount"/>
        <result column="reply_count" property="replyCount"/>
    </resultMap>

    <insert id="addArticle" parameterType="com.domain.Article">
        insert into article(article_id, user_id, article_title, content, scan_count, likes_count, reply_count)
        values (#{articleId}, #{userId}, #{articleTitle}, #{content}, #{scanCount}, #{likesCount}, #{replyCount});
    </insert>

    <select id="getArticles" resultMap="Article">
        select *
        from article;
    </select>

    <select id="getArticlesByOwner" resultMap="Article">
        select *
        from article
        where user_id = #{userId};
    </select>

    <select id="getArticleIndexsByOwner" resultMap="Article">
        select article_id, article_title, user_id, content, scan_count, likes_count, reply_count
        from article
        where user_id = #{userId};
    </select>

    <select id="queryArticles" resultMap="Article">
        select *
        from article
        where article_title like #{title}
           or user_id like #{owner};
    </select>

    <delete id="deleteArticleById">
        delete
        from article
        where article_id = #{id};
    </delete>

    <update id="upDateArticleById">
        update article
        set article_title=#{articleTitle},
            content=#{content},
            likes_count=#{likesCount},
            =#{scanNum},
            reply_id=#{replyId}
        where article_id = #{articleId}
    </update>
</mapper>
