<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射接口所在包路径-->
<mapper namespace="com.dao.MenuDao">
    <resultMap id="Menu" type="com.domain.Menu">
        <id column="menu_id" property="menuId"/>
        <result column="user_id" property="userId"/>
        <result column="menu_type" property="menuType"/>
        <result column="menu_data" property="menuData"/>
    </resultMap>

    <insert id="addMenu" parameterType="com.domain.Menu">
        insert into menu(menu_id, user_id, menu_type, menu_data)
        values (#{menuId}, #{userId}, #{menuType}, #{menuData});
    </insert>
    <select id="getMenus" resultMap="Menu">
        select *
        from menu;
    </select>

    <select id="getMenuByOwner" resultMap="Menu">
        select *
        from menu
        where user_id = #{userId}
    </select>

    <delete id="deleteMenuById">
        delete
        from menu
        where menu_id = #{menuId};
    </delete>

    <update id="upDateMenuById">
        update menu
        set menu_type=#{menuType},
            menu_data=#{menuData}
        where menu_id = #{menuId}
    </update>
</mapper>
