<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射接口所在包路径-->
<mapper namespace="com.dao.UserDao">
    <select id="getUserById" resultType="com.domain.User">
        select *
        from user
        where user_id = #{user}
    </select>

    <select id="getUserByName" resultType="com.domain.User">
        select *
        from user
        where user_name = #{userName}
    </select>

    <select id="getUserList" resultType="com.domain.User">
        select *
        from user
    </select>

    <insert id="addUser" parameterType="com.domain.User">
        insert into user(user_id, user_account, password, user_email, user_name, user_image, create_time, update_time,
                         last_login_time, status, birthday, telephone, role_id)
        values (#{userId}, #{userAccount}, #{password}, #{userEmail}, #{userName}, #{userImage}, #{createTime},
                #{updateTime}, #{lastLoginTime}, #{status}, #{birthday}, #{telephone}, #{roleId});
    </insert>

    <update id="updateUserByAccount" parameterType="com.domain.User">
        update user
        set password=#{password},
            user_name=#{userName},
            user_image=#{userImage},
            birthday=#{birthday},
            user_email=#{userEmail},
            telephone=#{telephone},
            update_time=#{update_date},
            status=#{status},
            last_login_time=#{lastLoginTime}
        where user_id = #{user_account};
    </update>

    <delete id="deleteUserByAccount">
        delete
        from user
        where user_account = #{userAccount};
    </delete>
</mapper>
