<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射接口所在包路径-->
<mapper namespace="com.dao.UserDao">
    <resultMap id="user" type="com.domain.User">
        <id column="user_id" property="userId"/>
        <result column="user_account" property="userAccount"/>
        <result column="password" property="password"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_name" property="userName"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="create_time" property="createTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="status" property="status"/>
        <result column="birthday" property="birthday"/>
        <result column="telephone" property="telephone"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <select id="getUserById" resultMap="user">
        select *
        from user
        where user_id = #{user}
    </select>

    <select id="getUserByAccount" resultMap="user">
        select *
        from user
        where user_account = #{userAccount}
    </select>

    <select id="userLogin" resultMap="user">
        select *
        from user
        where user_account = #{account}
          AND password = #{password}
    </select>

    <select id="getUserList" resultMap="user">
        select *
        from user
    </select>

    <insert id="registerUser" parameterType="com.domain.User">
        insert into user(user_id, user_account, password, user_email, user_name, user_avatar, create_time, update_time,
                         last_login_time, status, birthday, telephone, role_id)
        values (#{userId}, #{userAccount}, #{password}, #{userEmail}, #{userName}, #{userAvatar}, #{createTime},
                #{updateTime}, #{lastLoginTime}, #{status}, #{birthday}, #{telephone}, #{roleId});
    </insert>

    <update id="updateUserByAccount" parameterType="com.domain.User">
        update user
        set password=#{password},
            user_name=#{userName},
            user_avatar=#{userAvatar},
            birthday=#{birthday},
            user_email=#{userEmail},
            telephone=#{telephone},
            update_time=#{update_date},
            status=#{status},
            last_login_time=#{lastLoginTime}
        where user_id = #{user_account};
    </update>

    <delete id="deleteUserByAccount">
        delete
        from user
        where user_account = #{userAccount};
    </delete>


</mapper>
